# Copy this file to terraform.tfvars and fill in your values.
# NEVER commit terraform.tfvars to source control if it contains secrets.
# Add terraform.tfvars to .gitignore.

resource_group_name   = "dotnet-app-rg"
location              = "canadacentral"
app_service_plan_name = "dotnet-app-asp"
webapp_name           = "my-dotnet-app-dev"   # must be globally unique in Azure
dotnet_version        = "7.0"
github_org            = "skybit9"
github_repo           = "dotnet-azure-oidc"
github_environment    = "dev"
